body {
    background-color: rgb(24, 1, 1);
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 99vh;
    width: 99vw;
}
header {
    width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 20px;
    margin: 30px;
    color: white;
    border-bottom: 2px solid white;
}
a {
    color: white;

}
label {
    color: white;
}

form {
    display: grid;
    gap: 20px;
    grid-template-columns: 500px;
    font-size: 20px;
    border: 3px solid white;
    padding: 50px;

}
.fields {
    display: grid;
    grid-template-columns: 200px 300px;
}
.error-message {
    margin-top: -20px;
    margin-bottom: 10px;;
    height:30px;
    font-size: 14px;
    text-align: center;

}
input {
    height: 25px;

}
button {
    width: 100px;
    height: 25px;
}
.error {
    color: blue
}

p {
    color: white;
}