@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway.ttf);
}

body {
    background-color: rgb(24, 1, 1);
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 98vh;
    width: 99vw;
    font-family: 'Raleway';
}
header {
    width: 80%;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 20px;
    margin: 30px;
    color: white;
    border-bottom: 2px solid white;
    font-weight: 300;
}
a {
    color: white;

}
label, span {
    color: white;
}

a {
    padding: 0 20px;
    text-decoration: none;
}

form {
    display: grid;
    gap: 20px;
    grid-template-columns: 500px;
    font-size: 20px;
    border: 3px solid white;
    padding: 50px;


}
.fields {
    display: grid;
    grid-template-columns: 200px 300px;
}

.error-message {
    margin-top: -20px;
    margin-bottom: 10px;;
    height:30px;
    font-size: 14px;
    text-align: center;


}
.fields {
    display: grid;
    grid-template-columns: 200px 300px;
}


input {
    height: 25px;

}
button {
    width: 100px;
    height: 25px;
}
.error {
    color: blue;
    margin: 30px;
}
.error {
    color: blue;
    margin-top: -10px;
    height:15px;
    font-size: 14px;
    text-align: center;
}

p, h1, h2, h3, li {
    color: white;
}
h2 {
    text-decoration: underline;
}
article {
    font-family: 'Raleway';
    max-width: 900px;
    padding: 40px;
}

#pathsGrid {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    gap: 10px;
    padding: 5px;
}
.pathsGridItems {
    display: grid;
    border: 2px solid white;
    padding: 10px;
}
.pathsGridItems > ul > li {
    display: inline-block;
}